html,body{
    margin: 0;
    height: 100%;
}

#profile_img{
  width: 50px;
  height: 50px;
  border-radius:50%;
}

#nav_div{
  margin: 0;
  width: 20%;
  height: 100%;
  position: fixed;
}

article{
  width: 80%;
  height: 100%;
  display: block;
  background: whitesmoke;
  float: right;
}

#nav_nav{
  height:100%;
  background-color: #100e17;
}

a{
  display:block;
  padding:20px 25px;
  background-color:#100e17;
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.div_pg1{
  background-color:rgba(106,87,80,0.9);
  padding: 10px 15px;
  width: fit-content;
  color: #f6f1ed;
  margin: 0;
}

#pag1_div03{
  float: right;
}
