html,body{
  margin:0;
  height: 100%;
  overflow: hidden;
}
nav{
  margin:0;
  background-color:white;
  padding: 10px;
  width: 100%;
  box-shadow:0px 5px 10px grey;
}

  .stick{
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 10px;
  }

footer{
  background-color:
}
#nav_image{
  width: 150px;
}
.nav_a{
  position: absolute;
  float: right;
  top: 22px;
  right: 20px;
}
.nav_Atag{
  padding: 20px;
  text-decoration: none;
  color: #A29F9D;
}
#nav_alast{
  margin-right: 40px;
  border-radius: 10px 10px;
  padding:5px 10px;
  line-height: 5px;
  border: none;
  background-color:#4d90fe;
  color:white;
}
#nav_article{
  height: 58px;

}
article{
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}
#pg1{
  background-color: white;
}
.pg1_div{
  width: 100%;
  height: 100%;
  background-color: white;
  position:relative;
}
#intro_img{
  height: 100%;
  position: absolute;
}
#intro_text{
  float:right;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#intro_h1{
  font-size: 2em;
}
button{
  border-radius: 10px 10px;
  border:none;
  padding: 15px;
  line-height: 15px;
}
#div2_h1{
  font-size: 2em;
  text-align: center;
}

#div2_imgdiv{
  text-align: center;
}

.div2_img{
  width: 130px;
}
figure {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  padding: 0.5em;
}
